# Environments
.env
.venv
venv/
env/

# Python
__pycache__/
*.pyc
.pytest_cache/
backend/static/

# Node.js
node_modules/
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# IDEs and OS
.vscode/
.idea/
.DS_Store
*.swp

backend/langchain_rag/chroma_db/*
backend/langchain_rag/files/*
doc/*