fastapi
uvicorn
python-dotenv
google-generativeai
pytest
httpx
langchain-google-genai
langchain-openai
openai
langchain
langchain-community
langchain-text-splitters
chromadb
python-docx
python-pptx
unstructured[pptx]
python-magic
python-multipart